h1 {
  font-size: 2em;
  text-align: center;
  padding: 25px;
}
.homepage {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: calc(50vh - 202px - 106.31px);
}

.cards {
  display: grid;
  grid-template-columns: 348px 348px 348px;
  gap: 20px;
}

footer {
  display: flex;
  border-top: solid 1px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  justify-content: center;
  height: 30px;
  font-size: 1em;
  align-items: center;
}

footer:hover a {
  color: #535bf2;
}
footer a {
  font-size: 1.1em;
  color: #646cff;
  font-weight: bolder;
}
@media (max-width: 1153px) {
  .cards {
    grid-template-columns: 348px 348px;
  }
  footer {
    position: unset;
    margin-top: 20px;
  }
}

@media (max-width: 730px) {
  .cards {
    grid-template-columns: 348px;
  }

  footer {
    position: unset;
    margin-top: 20px;
  }
}

